<%= live_component(@socket, MessageXWeb.Scenes.Messages,
  loading: @loading,
  chats: @chats.results,
  chats_meta: @chats,
  current_messages: @current_messages.results,
  messages_meta: @current_messages,
  current_chat: @current_chat)
%>
