@import "./theme.scss";

/* This file is for your main application css. */
@import "../node_modules/nprogress/nprogress.css";

// Phoenix
// @import "./phoenix.css";
// @import "./phx.scss";

// Messages
@import "./imessage/indicator.scss";
// @import "./imessage/messages.scss";

// Styles
@import "./messages.scss";
@import "./imessage.scss";
@import "./sidebar.scss";
@import "./pagination.scss";

// Developer
// @import "./debug.scss";

.messages-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  > .column {
    max-height: 100vh;
    > .is-fullheight {
      max-height: 100vh;
    }
  }
}

.chat-messages {
  padding: 30px;
}
