#chat-sidebar-section {
  height: 100vh;
  padding: 0;

  nav.panel,
  p.panel-heading {
    box-shadow: none;
    border-radius: 0;
  }
}

.chat-sidebar-scrollable {
  height: calc(100vh - 232px);
  overflow-y: auto;
}

#chat-messages-section {
  height: 100vh;
  width: 100%;
  max-width: 800px;
  padding-left: 0;
  padding-right: 0;
}

.chat-messages-scrollable {
  // height: calc(100vh - 115px);
  height: calc(70vh - 115px);
  overflow-y: auto;
}
