<div class="imessages-container">
  <form class="chat">
    <%= if @loading do %>
      <span class="loading-spinner"></span>
    <% else %>
      <span></span>
    <% end %>
    <div class="imessages">
      <%= for message <- @messages do %>
        <%= live_component @socket, MessageXWeb.MessageLive.Show, id: "message-#{message.rowid}", message: message %>
      <% end %>
    </div>
    <input type="text" placeholder="Your message">
    <input type="submit" value="Send">
  </form>
</div>
